@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
/* add these imports from google fonts, and then head to tailwind.config.ts */


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#1a1c19] ;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Custom underline hover styles */
.underline-hover {
  position: relative;
  text-decoration: none;
}

.underline-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 3px;
  background-color: var(--underline-color); /* default underline color */
  transition: width 0.3s ease;
}

.underline-hover:hover::after {
  width: 100%;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */